// Colors
$primary-color: #52A7B3;
$primary-dark: #3e818b;
$secondary-color: #A682A3;
$text-color: #333333;
$text-light: #555555;
$bg-light: #FFFFFF;
$bg-dark: #222222;
$text-dark-theme: #f0f0f0;
$primary-teal: #70c1c4;
$text-dark: #333;
$text-light: #70c1c4;
$border-radius: 20px;

// Fonts
$font-stack: 'Montserrat', 'Arial', sans-serif;

// Transitions
$transition-speed: 0.3s;