<section id="contacts" class="contacts-section">
        <div id="map" class="map-bg"></div>

        <div class="container">
            <div class="contacts-card">
                <h2>ЗАХОДИТЕ К НАМ</h2>
                
                <div class="contact-item">
                    <p class="address">ул. Большая Покровская, 2</p>
                    <p class="phone">+7 (903) 604-76-90</p>
                    <p class="hours">Режим работы:<br>вс-чт 8:00 - 22:00<br>пт-сб 8:00 - 00:00</p>
                </div>

                <div class="contact-item">
                    <p class="address">Аэропорт "Стригино"</p>
                    <p class="phone">+7 (903) 604-76-90</p>
                    <p class="hours">Режим работы: круглосуточно</p>
                </div>

                <div class="contact-item">
                    <p class="address">Бабл Ти парк "Швейцария"</p>
                    <p class="phone">+7 (903) 604-76-90</p>
                    <p class="hours">Режим работы: Ежедневно 10:00 - 21:00</p>
                </div>
            </div>
        </div>
    </section>