<footer class="main-footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-col">
                <h4>Компания</h4>
                <ul class="footer-links">
                    <li><a href="#about">О нас</a></li>
                    <li><a href="#">СМИ</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#contacts">Адреса</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Кофе</h4>
                <ul class="footer-links">
                    <li><a href="index2.html">Напитки</a></li>
                    <li><a href="#">Домой</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Партнерство</h4>
                <ul class="footer-links">
                    <li><a href="#franchise">Франшиза</a></li>
                    <li><a href="#">Поставщики</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Работа</h4>
                <ul class="footer-links">
                    <li><a href="#">Бариста</a></li>
                    <li><a href="#">Тайный гость</a></li>
                </ul>
            </div>

            <div class="footer-col contact-info">
                <a href="tel:+79036047690" class="f-phone">+7 (903) 604-76-90</a>
                <p class="f-sub">Звонок по России бесплатный</p>
                <a href="mailto:aromatica-coffee@yandex.ru" class="f-email">aromatica-coffee@yandex.ru</a>

                <div class="social-links">
                    <a href="#" class="social-icon">VK</a>
                    <a href="#" class="social-icon">TG</a>
                </div>

                <div class="legal-info">
                    <p>ИНН 1832114281</p>
                    <a href="#" class="privacy">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>