<section class="offers-section">
    <div class="container">
        <div class="offer-item">
            <div class="offer-image-wrapper">
                <img src="../img/kids.png" alt="Детское меню" class="offer-img">
            </div>
            <div class="offer-text-wrapper">
                <h3 class="offer-title">Детское меню бесплатно <br> в Ароматике</h3>
                <p class="offer-text">Предложение действует при заказе от 1000 рублей — на одного взрослого гостя по будням / для детей.</p>
                <p class="offer-text">Для детей в Ароматике не только бесплатное детское меню по будням, но и увлекательные мастер-классы.</p>
                <p class="offer-text">Просто переходите по ссылке, выбирайте понравившийся мастер-класс и записывайтесь!</p>
                <p class="offer-text">Наши администраторы обязательно свяжутся с вами за 2 дня до мероприятия для подтверждения участия.</p>
                <a href="#" class="offer-btn">Выбрать мастер-класс</a>
            </div>
        </div>

        <div class="offer-item">
            <div class="offer-image-wrapper">
                <img src="../img/business-lunch.png" alt="Бизнес-ланчи" class="offer-img">
            </div>
            <div class="offer-text-wrapper">
                <h3 class="offer-title">Бизнес-ланчи в Ароматике — <br> с 17 ноября!</h3>
                <p class="offer-text">С 17 ноября в нашем уютном кафе на Большой Покровской стартуют бизнес-ланчи от 300₽. Вкусно, быстро и с заботой — именно так, как вы любите.</p>
                <p class="offer-text">А чтобы начало недели было особенно приятным, первым пяти гостям в понедельник, 17 ноября, дарим ланч из двух блюд!</p>
                <p class="offer-text">Приходите на обед с коллегами, друзьями или просто сделать паузу в делах.</p>
                <p class="offer-text bold-text">Бизнес-ланчи — каждый будний день с 12:00 до 15:00</p>
            </div>
        </div>
    </div>
</section>