<section class="menu-catalog">
  <nav class="categories">
    <ul class="categories-list">
      <li class="active">Все</li>
      <li>Завтраки</li>
      <li>Закуски</li>
      <li>Салаты</li>
      <li>Супы</li>
      <li>Горячее</li>
      <li>Сладкое</li>
      <li>Кофе и не кофе</li>
      <li>Напитки</li>
    </ul>
  </nav>
<div class="products">
  <div class="product-grid">
    <div class="product-card">
      <div class="product-image">
        <img src="../img/image 23.png" alt="Завтрак на большой покровской">
      </div>
      <div class="product-info">
        <h3 class="product-title">Завтрак на большой речной</h3>
        <p class="product-price">850 р.</p>
        <button class="btn-more">Подробнее</button>
        
        <div class="product-controls">
          <div class="quantity-selector">
            <button class="qty-btn minus"></button>
            <span class="qty-value">1</span>
            <button class="qty-btn plus"></button>
          </div>
          <button class="btn-add">Добавить в корзину</button>
        </div>
      </div>
    </div>

    </div>
    <div class="product-grid">
    <div class="product-card">
      <div class="product-image">
        <img src="../img/image 21.png" alt="Завтрак на большой покровской">
      </div>
      <div class="product-info">
        <h3 class="product-title">Завтрак на большой покровской</h3>
        <p class="product-price">950 р.</p>
        <button class="btn-more">Подробнее</button>
        
        <div class="product-controls">
          <div class="quantity-selector">
            <button class="qty-btn minus"></button>
            <span class="qty-value">1</span>
            <button class="qty-btn plus"></button>
          </div>
          <button class="btn-add">Добавить в корзину</button>
        </div>
      </div>
    </div>

    </div>
    <div class="product-grid">
    <div class="product-card">
      <div class="product-image">
        <img src="../img/image 22.png" alt="Завтрак на большой покровской">
      </div>
      <div class="product-info">
        <h3 class="product-title">Завтрак на большой сиамской</h3>
        <p class="product-price">1050 р.</p>
        <button class="btn-more">Подробнее</button>
        
        <div class="product-controls">
          <div class="quantity-selector">
            <button class="qty-btn minus"></button>
            <span class="qty-value">1</span>
            <button class="qty-btn plus"></button>
          </div>
          <button class="btn-add">Добавить в корзину</button>
        </div>
      </div>
    </div>

    </div>
</div>
</section>