<section class="promo-section">
    <div class="container">
        <h2 class="promo-title">АКЦИИ И ПРЕДЛОЖЕНИЯ</h2>
        <p class="promo-subtitle">*акции не суммируются</p>

        <div class="promo-grid">
            <div class="promo-card">
                <img src="../img/early-birds.png" alt="Ранние пташки" class="promo-img">
                <div class="promo-hover-text">Подробнее →</div>
            </div>

            <div class="promo-card">
                <img src="../img/Group 28 (1).png" alt="Обед с коллегами" class="promo-img">
                <div class="promo-hover-text">Подробнее →</div>
            </div>

            <div class="promo-card">
                <img src="../img/special-dessert.png" alt="Спешл десерт" class="promo-img">
                <div class="promo-hover-text">Подробнее →</div>
            </div>
        </div>
        
        <p class="promo-footer-text">Бизнес-ланчи в Кафе Ароматика — с 17 ноября!</p>
    </div>
</section>