@import 'base/variables';
@import 'base/base';

@import 'components/_header';
@import 'components/_about';
@import 'components/_offers';
@import 'components/_promo';
@import 'components/_franchise';
@import 'components/_loyalty';
@import 'components/_contacts';
@import 'components/_footer';
@import 'components/_modal';
@import 'components/_menu';
@import 'components/_order';
@import 'components/_magic';